* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
nav .logoHolder {
  height: 100%;
  display: flex;
}
nav .logoHolder img {
  height: 100%;
}
nav .logoHolder p {
  position: relative;
  top: 20px;
  padding-left: 5px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav .search {
  height: 100%;
  padding-left: 70px;
  padding-top: 15px;
}
nav .search .searchImg {
  height: 20px;
  position: absolute;
  margin-left: -598px;
  margin-top: 5px;
}
nav .search input {
  height: 33px;
  width: 604px;
  border: none;
  border-color: lightgrey;
  background-color: rgba(88, 124, 131, 0.2);
}
nav .search input img {
  height: 100%;
}
nav .search input ::placeholder {
  color: gray;
  font-style: italic;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav .links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .links a {
  text-decoration: none;
  color: black;
}
