* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#aboutBody {
  height: 100%;
  width: 100%;
}
#aboutBody .content {
  padding: 20px 50px;
  /* height: %; */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#aboutBody .content section {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#aboutBody .content section .picTextHolder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
  margin-top: 50px;
}
#aboutBody .content section .picTextHolder img {
  height: 587px;
  width: 393px;
}
#aboutBody .content section .picTextHolder .disc1 {
  width: 100%;
  padding-bottom: 250px;
}
#aboutBody .content section .picTextHolder .disc1 .bn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  padding-left: 340px;
  position: relative;
  top: -75px;
}
#aboutBody .content section .picTextHolder .disc1 #title1 {
  padding-left: 25px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 40px;
}
#aboutBody .content section .picTextHolder .disc1 #text1 {
  padding-left: 25px;
  font-size: 14px;
  font-weight: bold;
}
#aboutBody .content section {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#aboutBody .content section .picTextHolder2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-top: 100px;
}
#aboutBody .content section .picTextHolder2 img {
  height: 587px;
  width: 393px;
}
#aboutBody .content section .picTextHolder2 .disc2 {
  width: 100%;
  padding-bottom: 250px;
}
#aboutBody .content section .picTextHolder2 .disc2 .find {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  padding-left: 340px;
  position: relative;
  top: -75px;
}
#aboutBody .content section .picTextHolder2 .disc2 #text2 {
  padding-left: 25px;
  font-size: 14px;
  font-weight: bold;
}

footer {
  height: 50px;
  width: 100%;
  background-color: #587c83;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .copyright {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
  position: relative;
  right: 100px;
  top: 10px;
}
footer .f-links {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: white;
}
footer .f-links a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}
footer .socials {
  height: 30px;
  position: relative;
  left: 100px;
}
footer .socials img {
  height: 100%;
  padding-left: 20px;
}

#blog {
  height: 1600px;
  width: 100%;
  padding: 50px;
  align-content: center;
}
#blog .box1 {
  margin: auto;
  height: 463px;
  width: 1200px;
  background-color: #587c83;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#blog .box1 .b-images {
  padding-left: 50px;
}
#blog .box1 .b-images #become {
  height: 380px;
  width: 250px;
  margin-left: 70px;
}
#blog .box1 .b-images #viola {
  height: 380px;
  width: 250px;
}
#blog .box1 .blog-text-box {
  width: 450px;
  height: 380px;
  text-align: center;
}
#blog .box1 .blog-text-box #top-text {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}
#blog .box1 .blog-text-box p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#blog .box1 .blog-text-box button {
  background-color: none;
  border-color: white;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  height: 68px;
  width: 222px;
  background-color: #587c83;
  cursor: pointer;
}
#blog .box1 .blog-text-box button a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}
#blog .box2 {
  margin: auto;
  height: 463px;
  width: 1200px;
  background-color: #587c83;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#blog .box2 img {
  height: 463px;
  width: 622px;
  position: relative;
}
#blog .box2 .blog-text-box {
  margin: auto;
  width: 450px;
  height: 380px;
  text-align: center;
  padding-top: 30px;
}
#blog .box2 .blog-text-box #top-text2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}
#blog .box2 .blog-text-box p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#blog .box2 .blog-text-box button {
  background-color: none;
  border-color: white;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  height: 68px;
  width: 222px;
  background-color: #587c83;
  cursor: pointer;
}
#blog .box2 .blog-text-box button a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}
#blog .box3 {
  margin: auto;
  height: 463px;
  width: 1200px;
  background-color: #587c83;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#blog .box3 img {
  height: 463px;
  width: 622px;
  position: relative;
  right: 45px;
}
#blog .box3 .blog-text-box {
  width: 450px;
  height: 380px;
  text-align: center;
  padding-top: 30px;
}
#blog .box3 .blog-text-box #top-text3 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
}
#blog .box3 .blog-text-box p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding-top: 50px;
  padding-bottom: 50px;
}
#blog .box3 .blog-text-box button {
  background-color: none;
  border-color: white;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  height: 68px;
  width: 222px;
  background-color: #587c83;
  cursor: pointer;
}
#blog .box3 .blog-text-box button a {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

#eRead {
  height: 1500px;
  width: 100%;
}
#eRead .eRead-Hero {
  height: 530px;
  width: 1200px;
  margin-left: 170px;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../assets/images/eread-hero.jpg);
  box-shadow: inset 0 0 0 2000px rgba(88, 124, 131, 0.6);
}
#eRead .eRead-Hero .hero-t {
  position: relative;
  top: 150px;
}
#eRead .eRead-Hero .hero-t .heroText1 {
  color: white;
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}
#eRead .eRead-Hero .hero-t .heroText2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  text-align: center;
  padding-bottom: 40px;
}
#eRead section {
  padding-top: 100px;
  height: 400px;
  width: 1300px;
}
#eRead section img {
  height: 364px;
  width: 526px;
  margin-left: 170px;
}
#eRead section .text-content {
  width: 750px;
  position: relative;
  left: 730px;
  bottom: 380px;
}
#eRead section .text-content #p1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
}
#eRead section .text-content #p2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
}
#eRead section .text-content #p3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
}
#eRead section .text-content #p4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
}

#febFav {
  height: 1600px;
  width: 100%;
}
#febFav .febFav-Hero {
  height: 530px;
  width: 1200px;
  margin-left: 170px;
  margin-top: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../assets/images/february-favorites-hero.jpg);
  box-shadow: inset 0 0 0 2000px rgba(88, 124, 131, 0.6);
}
#febFav .febFav-Hero .hero-t {
  position: relative;
  top: 150px;
}
#febFav .febFav-Hero .hero-t .heroText1 {
  color: white;
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 40px;
}
#febFav .febFav-Hero .hero-t .heroText2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 40px;
}
#febFav .febFav-Hero .hero-t .heroText3 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
}
#febFav section {
  padding-top: 100px;
  height: 500px;
  width: 1300px;
}
#febFav section img {
  height: 380px;
  width: 250px;
  margin-left: 170px;
}
#febFav section .text-content {
  width: 1000px;
  position: relative;
  left: 460px;
  bottom: 390px;
}
#febFav section .text-content #title-1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  color: black;
  font-weight: bold;
  padding-bottom: 50px;
}
#febFav section .text-content #title-2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  color: black;
  font-weight: bold;
  padding-bottom: 50px;
}
#febFav section .text-content #p1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
  padding-bottom: 20px;
}
#febFav section .text-content #p2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
  font-weight: bold;
}

nav {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-color: black;
}
nav .logoHolder {
  height: 100%;
  display: flex;
}
nav .logoHolder img {
  height: 100%;
  padding-left: 10px;
}
nav .logoHolder p {
  width: 120px;
  position: relative;
  top: 20px;
  padding-left: 5px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav .search {
  height: 100%;
  padding-left: 70px;
  padding-top: 10px;
}
nav .search .searchImg {
  height: 20px;
  position: absolute;
  margin-left: -598px;
  margin-top: 5px;
}
nav .search input {
  height: 33px;
  width: 604px;
  border: none;
  border-color: lightgrey;
  background-color: rgba(88, 124, 131, 0.2);
}
nav .search input img {
  height: 100%;
}
nav .search input ::placeholder {
  color: gray;
  font-style: italic;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav .links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: -50px;
}
nav .links #about2 {
  font-weight: bold;
}
nav .links #home2 {
  font-weight: bold;
}
nav .links #books2 {
  font-weight: bold;
}
nav .links #blog2 {
  font-weight: bold;
}
nav .links #account2 {
  font-weight: bold;
}
nav .links #cart2 {
  font-weight: bold;
}
nav .links a {
  text-decoration: none;
  color: black;
}
nav .signInOut {
  height: 100%;
  display: flex;
}
nav .signInOut a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
  padding-right: 10px;
}
nav .signInOut a img {
  height: 60%;
  padding-left: 10px;
}

.homePage {
  width: 100%;
}
.homePage .homeHero {
  height: 530px;
  width: 1200px;
  margin-left: 170px;
  margin-top: 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../assets/images/home-hero.jpg);
  box-shadow: inset 0 0 0 2000px rgba(88, 124, 131, 0.6);
}
.homePage .homeHero p {
  color: white;
}
.homePage .homeHero .heroText1 {
  font-size: 32px;
  font-weight: bold;
  margin-left: 800px;
  padding-top: 200px;
  position: absolute;
}
.homePage .homeHero .heroText2 {
  font-size: 32px;
  font-weight: bold;
  margin-left: 800px;
  padding-top: 235px;
  position: absolute;
}
.homePage .homeHero .heroText3 {
  margin-left: 800px;
  padding-top: 300px;
}
.homePage .homeBooks {
  height: 1000px;
  width: 100%;
}
.homePage .homeBooks img {
  height: 361px;
  width: 246px;
  margin-top: 150px;
}
.homePage .homeBooks .mockingbird {
  margin-left: 130px;
}
.homePage .homeBooks .becoming {
  margin-left: 250px;
}
.homePage .homeBooks .firestarter {
  margin-left: 250px;
}
.homePage .homeBooks p {
  width: 363px;
  text-align: center;
  margin-top: 50px;
}
.homePage .homeBooks .homep1 {
  float: left;
  margin-left: 60px;
}
.homePage .homeBooks .homep2 {
  float: left;
  margin-left: 150px;
}
.homePage .homeBooks .homep3 {
  float: left;
  margin-left: 130px;
}
.homePage .homeBooks .prices {
  font-size: 32px;
  font-weight: bold;
}
.homePage .homeBooks .prices .mockPrice {
  float: left;
  margin-left: 60px;
}
.homePage .homeBooks .prices .becomePrice {
  float: left;
  margin-left: 150px;
}
.homePage .homeBooks .prices .firePrice {
  float: left;
  margin-left: 130px;
}
.homePage .homeBooks .addcartsec {
  font-size: 13px;
  text-align: center;
  margin-top: 280px;
}
.homePage .homeBooks .addcartsec .addtocartbtn1 {
  float: left;
  border: solid;
  border-color: black;
  border-width: 2px;
  height: 50px;
  width: 150px;
  padding-top: 15px;
  margin-left: 160px;
}
.homePage .homeBooks .addcartsec .addtocartbtn2 {
  float: left;
  border: solid;
  border-color: black;
  border-width: 2px;
  height: 50px;
  width: 150px;
  padding-top: 15px;
  margin-left: 370px;
}
.homePage .homeBooks .addcartsec .addtocartbtn3 {
  float: left;
  border: solid;
  border-color: black;
  border-width: 2px;
  height: 50px;
  width: 150px;
  padding-top: 15px;
  margin-left: 340px;
}

.clubPage {
  width: 100%;
}
.clubPage .clubHero {
  height: 530px;
  width: 1200px;
  margin-left: 170px;
  margin-top: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(../assets/images/book-club-hero.jpg);
  box-shadow: inset 0 0 0 2000px rgba(88, 124, 131, 0.6);
}
.clubPage p {
  color: white;
  font-weight: bold;
}
.clubPage .clubText1 {
  font-size: 32px;
  margin-left: 450px;
  padding-top: 150px;
  position: absolute;
}
.clubPage .clubText2 {
  font-size: 20px;
  margin-left: 250px;
  padding-top: 265px;
  width: 800px;
  position: absolute;
}

.clubBottom .openBook {
  height: 393px;
  width: 522px;
  float: left;
  margin-left: 170px;
  position: absolute;
}
.clubBottom p {
  color: black;
  font-weight: normal;
  width: 640px;
  margin-left: 800px;
}
.clubBottom .clubP1 {
  margin-top: 100px;
}
.clubBottom .clubP4 {
  margin-bottom: 400px;
}

.cartcart {
  width: 100%;
  height: 2000px;
}
.cartcart .cartSec1 {
  width: 100%;
  height: 500px;
  border: solid;
  border-color: black;
  border-width: 1px;
}
.cartcart .cartSec1 .miseryCart {
  margin-top: 100px;
  margin-left: 100px;
  float: left;
}
.cartcart .cartSec1 .misInfo {
  padding-top: 110px;
  margin-left: 310px;
}
.cartcart .cartSec1 .misInfo .misTitle {
  font-weight: bold;
}
.cartcart .cartSec1 .misInfo .misPrice {
  font-weight: bold;
  position: absolute;
}
.cartcart .cartSec1 .misInfo .misStock {
  position: absolute;
  padding-top: 20px;
}
.cartcart .cartSec1 .misA {
  padding-top: 80px;
  padding-left: 310px;
}
.cartcart .cartSec1 .misA a {
  color: black;
}
.cartcart .cartSec2 {
  width: 100%;
  height: 500px;
  border: solid;
  border-color: black;
  border-width: 1px;
}
.cartcart .cartSec2 .autoCart {
  margin-top: 100px;
  margin-left: 100px;
  float: left;
}
.cartcart .cartSec2 .autoInfo {
  padding-top: 110px;
  margin-left: 310px;
}
.cartcart .cartSec2 .autoInfo .autoTitle {
  font-weight: bold;
}
.cartcart .cartSec2 .autoInfo .autoPrice {
  font-weight: bold;
  position: absolute;
}
.cartcart .cartSec2 .autoInfo .autoStock {
  position: absolute;
  padding-top: 20px;
}
.cartcart .cartSec2 .autoA {
  padding-top: 80px;
  padding-left: 310px;
}
.cartcart .cartSec2 .autoA a {
  color: black;
}

.accountSec {
  display: inline-block;
  width: 100%;
  height: 650px;
  display: flex;
}
.accountSec .logIn {
  width: 100%;
  margin-top: 180px;
  padding-left: 230px;
}
.accountSec .logIn input {
  height: 50px;
  font-size: 14px;
  padding-top: 30px;
  width: 200px;
  border: none;
  border-bottom: solid;
  border-width: 2px;
}
.accountSec .logIn .loginHere {
  font-size: 25px;
}
.accountSec .logIn .loginBtn {
  font-size: 15px;
  padding-left: 30px;
  margin-left: 50px;
  margin-top: 40px;
  padding-top: 5px;
  background-color: #587c83;
  color: white;
  width: 110px;
  height: 30px;
}
.accountSec .signUp {
  width: 100%;
  padding-left: 230px;
  display: inline-block;
}
.accountSec .signUp input {
  height: 50px;
  font-size: 14px;
  padding-top: 30px;
  width: 200px;
  border: none;
  border-bottom: solid;
  border-width: 2px;
}
.accountSec .signUp .noAccount {
  margin-top: 170px;
  position: absolute;
}
.accountSec .signUp .signUpHere {
  font-size: 25px;
  padding-top: 190px;
}
.accountSec .signUp .signBtn {
  font-size: 15px;
  padding-left: 30px;
  margin-left: 50px;
  margin-top: 40px;
  padding-top: 5px;
  background-color: #587c83;
  color: white;
  width: 110px;
  height: 30px;
}

.booksetSec {
  width: 100%;
  height: 500px;
}
.booksetSec .bhBooks {
  margin-left: 50px;
  margin-top: 50px;
  float: left;
}
.booksetSec .booksets {
  font-weight: bold;
  margin-left: 50px;
  margin-top: 100px;
  font-size: 20px;
}
.booksetSec .twilightimg {
  margin-left: 50px;
  margin-top: 40px;
  float: left;
}
.booksetSec .twiInfo {
  width: 220px;
  margin-left: 30px;
  margin-top: 55px;
  float: left;
}
.booksetSec .twiInfo .bhP {
  width: 220px;
  margin-bottom: 10px;
}
.booksetSec .twiInfo .twiPrice {
  margin-top: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}
.booksetSec .twiInfo #twiCart {
  height: 60px;
  width: 200px;
  border: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
  cursor: pointer;
}
