.homePage {
  height: 1000px;
  width: 100%;
  .homeHero {
    height: 530px;
    width: 1200px;
    margin-left: 170px;
    margin-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../assets/images/home-hero.jpg);
    box-shadow: inset 0 0 0 2000px rgba(88, 124, 131, 0.6);
    // need help resizing this later

    p {
      color: white;
    }
    .heroText1 {
      font-size: 32px;
      font-weight: bold;
      margin-left: 800px;
      padding-top: 200px;
      position: absolute;
    }
    .heroText2 {
      font-size: 32px;
      font-weight: bold;
      margin-left: 800px;
      padding-top: 235px;
      position: absolute;
    }
    .heroText3 {
      margin-left: 800px;
      padding-top: 300px;
    }
  }
  .homeBooks {
    height: 1000px;
    width: 100%;

    img {
      height: 361px;
      width: 246px;
      margin-top: 150px;
    }
    .mockingbird {
      margin-left: 130px;
    }
    .becoming {
      margin-left: 250px;
    }
    .firestarter {
      margin-left: 250px;
    }

    p {
      width: 363px;
      text-align: center;
      margin-top: 50px;
    }

    .homep1 {
      float: left;
      margin-left: 60px;
    }
    .homep2 {
      float: left;
      margin-left: 150px;
    }
    .homep3 {
      float: left;
      margin-left: 130px;
    }
    .prices {
      font-size: 32px;
      font-weight: bold;

      .mockPrice {
        float: left;
        margin-left: 60px;
      }
      .becomePrice {
        float: left;
        margin-left: 150px;
      }
      .firePrice {
        float: left;
        margin-left: 130px;
      }
    }
    .addcartsec {
      font-size: 13px;
      text-align: center;
      margin-top: 280px;

      .addtocartbtn1 {
        float: left;
        border: solid;
        border-color: black;
        border-width: 2px;
        height: 50px;
        width: 150px;
        padding-top: 15px;
        margin-left: 160px;
      }
      .addtocartbtn2 {
        float: left;
        border: solid;
        border-color: black;
        border-width: 2px;
        height: 50px;
        width: 150px;
        padding-top: 15px;
        margin-left: 370px;
      }
      .addtocartbtn3 {
        float: left;
        border: solid;
        border-color: black;
        border-width: 2px;
        height: 50px;
        width: 150px;
        padding-top: 15px;
        margin-left: 340px;
      }
    }
  }
}
