nav {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  border: solid;
  border-width: 2px;
  border-color: black;

  .logoHolder {
    height: 100%;
    display: flex;

    img {
      height: 100%;
    }

    p {
      position: relative;
      top: 20px;
      padding-left: 5px;
      font-size: 16px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }
  .search {
    height: 100%;
    padding-left: 70px;
    padding-top: px;

    .searchImg {
      height: 20px;
      position: absolute;
      margin-left: -598px;
      margin-top: 5px;
    }

    input {
      height: 33px;
      width: 604px;
      border: none;
      border-color: lightgrey;
      background-color: rgba(88, 124, 131, 0.2);

      img {
        height: 100%;
      }

      ::placeholder {
        color: gray;
        font-style: italic;
        font-size: 16px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }
  .links {
    // background-color: blue;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    #about2 {
      font-weight: bold;
    }
    #home2 {
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
